{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">


<h1>Inscrivez vous sur notre site</h1>
{{ form_start(form)}}
{{form_widget(form)}}
<button type="submit" class="btn btn-success">Enregidtrer</button>
{{ form_end(form)}}

</div>

{# validation et confirmation de mot de passe #}
{# #}

{% endblock %}