{% extends "base.html.twig" %}

{% block title %}
Bienvenue sur le meilleur réseau d'appartement
{% endblock %}

{% block body %}
    <div class="container">



        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SouadSite</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: #FF3F63;">Acheter</a>
            </p>
        </div>



        <h2 class="h1 mt-4">Nos clients</h2>




  <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center" style="color: black;">
                        helo iuuf ifgj el  mref lk dvdfhvjdk vhdf vkd vdd
                    </div>
                    <img src="{{asset('image/happy.jpg')}}" alt="Image de la personne" 
                    style="height: 200px; width: 100%; display: block;"/> 
                    <div class="card-body">
                      <h4 class="card-title" style="color: black;">
                        photo de ouf!
                      </h4>
                      <p class="cart-text" style="color: black;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Veritatis dolores fuga recusandae magnam esse.
                         Veniam voluptatem facere reiciendis distinctio inventore, 
                      </p>
                      <a href="#" class="btn btn-secondary">more informations</a>
                    </div>

                </div>

            </div>

            <div class="col-md-4">
              <div class="card bg-light mb-3">
                  <div class="card-header text-center" style="color: black;">
                      helo iuuf ifgj el  mref lk dvdfhvjdk vhdf vkd vdd
                  </div>
                  <img src="{{asset('image/happy.jpg')}}" alt="Image de la personne" style="height: 200px; width: 100%; display: block;"/> 
                  <div class="card-body">
                    <h4 class="card-title" style="color: black;">
                      photo de ouf!
                    </h4>
                    <p class="cart-text" style="color: black;">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Veritatis dolores fuga recusandae magnam esse.
                       Veniam voluptatem facere reiciendis distinctio inventore,
                    </p>
                    <a href="#" class="btn btn-secondary">more informations</a>
                  </div>

              </div>

          </div>

          <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center" style="color: black;">
                    helo iuuf ifgj el  mref lk dvdfhvjdk vhdf vkd vdd
                </div>
                <img src="{{asset('image/happy.jpg')}}" alt="Image de la personne" style="height: 200px; width: 100%; display: block;"/> 
                <div class="card-body">
                  <h4 class="card-title" style="color: black;">
                    photo de ouf!
                  </h4>
                  <p class="cart-text" style="color: black;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Veritatis dolores fuga recusandae magnam esse.
                         Veniam voluptatem facere reiciendis distinctio inventore,
                  </p>
                  <a href="#" class="btn btn-secondary">more informations</a>
                </div>

            </div>
          </div>

    


 </div>




















<h2 class="h1 mt-4">Nos propriétaires stars !</h2>


<div class="row ">
   <div class="col-md-6">
     <div class="card border-secondary mb-3">
       <div class="card-body">
         <h4 class="card-title">Souad Taki</h4>

         <hr>

         <div class="card-text">
           <img  src="{{asset('image/stylecouple.jpg')}}" style="height: 80px; width: 80px;" alt="image de souad taki" class="float-left mr-3"/>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a 
             necessitatibus tenetur maxime recusandae illum expedita corrupti mollitia 
             nisi quidem fugiat ut architecto inventore rerum, </p>
             <a href="#" class="btn btn-success float-right">En savoir Plus!</a> 
          </div>
       </div>
     </div>
   </div>


    <div class="col-md-6">
      <div class="card border-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">Souad Taki</h4>
 
          <hr>
 
          <div class="card-text">
            <img  src="{{asset('image/stylecouple.jpg')}}" style="height: 80px; width: 80px;" alt="image de souad taki" class="float-left mr-3"/>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a 
              necessitatibus tenetur maxime recusandae illum expedita corrupti mollitia 
              nisi quidem fugiat ut architecto inventore rerum, </p>
              <a href="#" class="btn btn-success float-right">En savoir Plus!</a> 
           </div>
        </div>
      </div>
    </div>
 </div>

</div>
            {# 
                {% for prenom, age in tableau %}
                <p>{{ prenom }} a {{ age }} ans </p>
                 {% endfor %}
              #}


{% endblock %}
