<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SouadSite - {% block title %}Welcome!{% endblock %}</title>
        <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
           <link href="{{asset('css/style.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            <nav class="navbar  navbar-expand-lg navbar-dark "
             style="height: 100px; background-color: #FF3F63;">
                    <a class="navbar-brand" href="{{ path('home')}}">Navbar</a>
                    <button class="navbar-toggler" type="button"
                     data-toggle="collapse" data-target="#navbarColor01"
                      aria-controls="navbarColor01" aria-expanded="false" 
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarColor01">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{{ path('home_ad')}}">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="{{ path('ads_index')}}">Annonces</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="{{ path('account_register')}}">register</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="{{ path('account_login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="#">About</a>
                        </li>
                      </ul>
                    
                    </div>
                  </nav>
        {% block body %}{% endblock %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
