{% extends "base.html.twig" %}
{# nous heritons de template de base #}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}

    <div class="ad-title" style="background-image: url({{ ad.coverImage}})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction | raw}}</p>
            <p class="h2">{{ ad.rooms}}
                chambres<strong>pour</strong>
                {{ad.price}}</p>


            <a href="#" class="btn btn-primary">Call me!</a>

        </div>

    </div>
    <div class="container">
        <div class="row">
            <div
                class="col-md-8 mb-3">
                <!-- le filtre "raw" de twig affiche le texte sans protection (et permet donc l'interprétaion HTML)-->
                {{ ad.content | raw }}


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                        {% for image in ad.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">

                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img
                                src="{{ image.url }}" class="d-block w-100" alt="...">

                                <!-- carousel caption d-non=(n'aparraitra pas quoi qu'il arrive) et d-md-block(sur des ecrain moins ca apparaitra)-->
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="Avatar de Souad"/>

                    </div>
                    <div class="col">
                        <h3>SOUAD Samar Hudgent</h3>
                        <span class="badge badge-primary">3 Annonces</span>

                    </div>

                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque cumque esse quisquam quibusdam ipsam id
                                    voluptatibus quae possimus iste perferendis.</p>
                <p>Excepturi quam vel eaque non nesciunt sapiente corporis quasi soluta quas! Quia recusandae atque veniam
                                    libero eligendi animi ratione quasi?</p>
                <p>Dolores, praesentium officia? Tempora voluptate repellat vel ipsa porro error impedit ipsam amet ducimus
                                    itaque cum, dolor delectus beatae incidunt.</p>

            </div>
        </div>

    </div>

{% endblock %}
